<app-header></app-header>

<section id="aboutMeHistory" #aboutMeHistory>
  <app-card [data]="cardData">
    <div class="painel">
      <div class="painel__images">
        <img src="./../../assets/images/cotuca.svg" alt="" />
        <img src="./../../assets/images/ciandt.svg" alt="" />
      </div>
      <div class="painel__texto">
        <p>
          My studying about programing started at Cotuca, a technical school in
          Campinas, which I did a 2 year course learning Java, .NET, SQL,
          Python, and little about Arduino, besides other technologies..<br /><br />
          After finishing those 2 years, I tried a couple internship process to
          enter in different companies. Eventually I entered at CI&T as a
          Intern, from 1200 participants I was one of the 90 that got in.
          <br /><br />In my first year as a intern I worked in a team for
          Sulamerica, a client of CI&T, where I learned best praticies in
          software development, Spring Boot, Angular, Unit Testing, Component
          Testing, a couple of terms and knowledge about the market in general.
          <br /><br />I worked in a product to schedule pacient appointments
          with doctors, through a App, a infrastrucure of micro services created
          specific for this flow, and also an angular web platform where the
          doctor’s assistent could chose the best time for the pacient and the
          doctor.<br /><br />
          After almost two years working for Sulamerica, I changed to Itau, one
          of the biggest national bank in Brazil, which is also a client of
          CI&T, since then I’ve been working with GDPR and Client Information in
          a product for the bank.
        </p>
      </div>
    </div>
  </app-card>
</section>

<p class="titleSection">Knowledge</p>

<section>
  <app-knowledge-cards></app-knowledge-cards>
</section>

<p class="titleSection">Some of my projects</p>

<section>
  <div class="projects">
    <app-project-card *ngFor="let project of projects"></app-project-card>
  </div>
  <app-button
    [rightIcon]="rightIcon"
    [text]="'Expande view'"
    [width]="'350'"
  ></app-button>
</section>

<app-footer></app-footer>
