:host {
  font-family: "Roboto";
  font-style: normal;
}

.picture {
  display: flex;
  place-content: center;
  padding: 10px;

  &__border {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    border-radius: 15px;
  }
}

.titleSection {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #3d3c42;
  text-align: center;
}

section {
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  app-knowledge-cards {
    min-width: 100% !important;
    width: auto !important;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }

  .painel {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: fit-content;
    justify-content: space-evenly;
    align-content: space-between;

    &__images {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 80px;
      max-width: max-content;
      flex-grow: 1;
      img {
        max-width: 80vw;
        width: auto;
        padding: 12px;
      }
    }

    &__texto {
      flex-shrink: 0;
      flex: 300px;
      p {
        width: auto;
        line-height: 2rem;
        line-break: loose;
      }
    }
  }
}
