div.content {
    background-color: #1B2330;
    width: fit-content;
    height: fit-content;
    border: 1px solid #1B2330;
    border-radius: 8px;
    padding: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
}
