<app-header></app-header>

<section class="picture">
  <img
    class="picture__border"
    src="https://thispersondoesnotexist.com/image"
    alt=""
  />
</section>

<section class="intro">
  <p>Wagner Caetano</p>

  <p>
    Fullstack developer, I build web and backend applications.
    <br />
    <br />
    That’s my portfolio so you can know a little more about me.
  </p>
  <div>
    <i class="fas fa-map-marker"></i>
    <p>Campinas, Brazil</p>
  </div>

  <div class="d-flex gap-3">
    <app-button
      [text]="'Download CV'"
      [type]="'outline'"
      [leftIcon]="leftIcon"
    ></app-button>
    <app-button [text]="'My Projects'"></app-button>
  </div>
</section>

<section>
  <app-card [data]="cardData">
    I’m wagner, a fullstack developer, focused on Java, Angular and a little bit
    of Python, although enthusiastic about any technology that feels interesting
    to me...<br /><br />

    My career started, after I finished my technical course, at CI&T as a
    intern, since then I’ve been studying and learning a lot with all my
    colleagues and the development career plan of the company. <br /><br />

    Beside that, I try to take some time to take courses and study subjects from
    my graduation.<br /><br />

    Recently I’m participating in a scientific project from my university to
    study covid variants..<br /><br />
  </app-card>
</section>

<section>
  <p class="titleSection">Skills</p>
  <div class="skills">
    <app-card *ngFor="let skill of skills" [data]="skill.cardData">{{ skill.text }}</app-card>
  </div>
  <app-button [rightIcon]="rightIcon" [text]="'See more about my knowledge'" [width]="'350'"></app-button>
</section>

<section>
  <p class="titleSection">Some of my projects</p>
  <div class="projects">
    <app-project-card *ngFor="let project of projects"></app-project-card>
  </div>
  <app-button [rightIcon]="rightIcon" [text]="'Expande view'" [width]="'350'"></app-button>
</section>

<app-footer></app-footer>
