.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #1B2330;
    border-color: white;
    border: 1px solid white;
    color: white;
}

.btn-outline-primary {
    border: 1px solid #3D3C42;
    color: #3D3C42;
}

.fa {
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    width: fit-content;
}

p {
    margin: 0px;
}

div {
    padding: 10px;
    min-height: 48px;
    display: flex;
    width: auto;
    place-content: center;
}

:host {
    width: auto;
}